export TF_VAR_tenancy_ocid="ocid1.tenancy.oc1..*******"
export TF_VAR_user_ocid="ocid1.user.oc1..*******"
export TF_VAR_fingerprint="xx:xx:xx:*******:xx:xx"
export TF_VAR_private_key_path="/Users/MyUser/.oci/oci_api_key.pem"
export TF_VAR_region1="eu-frankfurt-1"
export TF_VAR_region2="eu-amsterdam-1"
export TF_VAR_compartment_ocid="ocid1.compartment.oc1..*******"
